/* Your CSS here
           Requirements:
           - Card width of 300px with a border
           - Text color #333
           - Title 1.5 times as big as base font
           - Headings should be uppercase
           - Use flexbox for layout
        */
body {
  font-family: sans-serif;
  width: 90%;
  margin: 0 auto;
}

.cards article img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
